
/* header New*/
.navbar-custome{
    background-color: var(--red);
    height: 100px;
}

.img-height-custome{
    height: 60px;
    
}

.nav-link{
    color: var(--white) !important;    
}

.nav-link-custome{
    font-weight: bold !important;
}
 
.btn-search-custome{
    background-color:var(--white) !important;   
    color: var(--black)!important;
}
