<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head", {title: 'Pefil de usuario' }) %>
    <!-- <body class="bodyRegistro-1"> -->

    <body>
        <!-- header -->
        <%- include("../partials/header") %>
            <!-- /header -->

            <!-- main -->
            <main class="principal-h">
                <section class="historia">
                    <div class="container">
                        <h2> ¡Bienvenido a Simplemente Juguetes! </h2>
                        
                        <p>
                            Somos una reconocida tienda de juguetes tanto física como en línea, comprometidos en ofrecerte una experiencia de compra confiable y satisfactoria. En nuestra tienda, encontrarás una selección completa de juguetes y productos de las marcas más reconocidas, incluyendo Hasbro, Disney, Mattel y muchas más. Queremos asegurarnos de que tengas acceso a los últimos lanzamientos y a los clásicos atemporales que tanto te gustan.
                        </p>

                        <p>
                            En Simplemente Juguetes nos enorgullece aceptar todos los medios de pago disponibles, para que puedas elegir la opción que más te convenga. Ya sea que prefieras pagar con tarjeta de crédito, débito, transferencia bancaria o incluso mediante plataformas de pago en línea, puedes estar seguro de que tus transacciones serán seguras y confiables.
                        </p>
                       
                        <div class="imagen">
                            <img src="/images/other/imagenJugueteria.png" alt="Simplemente Juguetes">
                        </div>

                        <div class="tarjeta rojo">
                            <div class="icono"><i class="fas fa-cloud"></i></div>
                            <p><strong>Sueños:</strong> En Red Juguetería, inspiramos sueños a los niños que visitan nuestras sedes, y expresamos la confianza y seguridad necesarias a los padres para hacer realidad la ilusión infantil.</p>
                        </div>
                        
                        <div class="tarjeta verde">
                            <div class="icono"><i class="fas fa-smile"></i></div>
                            <p><strong>Diversión:</strong> Más que una simple oportunidad para la diversión, el juego es cosa seria en lo que respecta a la salud y el desarrollo de un niño. Por ello, brindamos a los niños diversión.</p>
                        </div>
                        
                        <div class="tarjeta celeste">
                            <div class="icono"><i class="fas fa-gamepad"></i></div>
                            <p><strong>Juegos:</strong> El juego ayuda a fomentar relaciones seguras, estables y provechosas que protegen contra el estrés tóxico y generan la resiliencia socioemocional.</p>
                        </div>
                        
                    </div>
                </section>
            </main>
            
            <!-- /main -->
            <!-- footer -->
            <footer class="sub-footer">
                <!-- Footer -->
                <%- include("../partials/footer") %>
            </footer>
            <!-- /footer -->
            <!-- Script Bootstrap -->
            <%- include("../partials/scripts") %>
                <!-- /Script Bootstrap -->
    </body>

</html>