<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head", {title: 'Sobre Nosotros'}) %>

  <body>
    <div class="contain-dots" id="contain-dots">
      <div class="dot-spin"></div>
    </div>
    <%- include("../partials/header") %>

      <main>       
        <h6>Sobre Nosotros - Simplemente Juguetes</h6>
        Bienvenidos a Simplemente Juguetes, su tienda en línea dedicada a brindar alegría y diversión a niños de todas las edades. Somos apasionados de los juguetes y creemos en su poder para inspirar, educar y entretener. 
        
        <h6>Nuestra misión </h6>
        Es ofrecer una selección de productos de alta calidad que fomenten la creatividad, la imaginación y el desarrollo integral de los pequeños.
        
        <h6> Nuestra Historia</h6>
        Simplemente Juguetes nació de la pasión de un grupo de amigos y familiares, todos con un profundo amor por los juguetes y una fuerte convicción en su importancia para el desarrollo infantil. Desde nuestros humildes comienzos en un pequeño almacén, hemos crecido para convertirnos en una tienda en línea de confianza, con clientes satisfechos en todo el país.
        
        <h6>Nuestra Filosofía</h6>
        En Simplemente Juguetes, creemos que los juguetes no son solo objetos de entretenimiento, sino herramientas esenciales para el aprendizaje y el crecimiento. Por eso, seleccionamos con esmero cada producto en nuestro catálogo, asegurándonos de que cumplan con los más altos estándares de calidad y seguridad.
        
        <h6>Qué Ofrecemos</h6>
        <ul>
          
          <li><h6>Variedad:</h6> Desde los clásicos juguetes de madera hasta los últimos en tecnología interactiva, ofrecemos una amplia gama de productos para todas las edades y gustos.</li>
          <li><h6>Calidad:</h6> Trabajamos con las mejores marcas y fabricantes del mundo, garantizando que cada juguete sea seguro, duradero y educativo.</li>
          <li><h6>Servicio al Cliente:</h6> Nos esforzamos por ofrecer una experiencia de compra excepcional, con un equipo de atención al cliente siempre dispuesto a ayudar y resolver cualquier duda o inconveniente.</li>
          <li><h6>Envío Rápido y Seguro:</h6> Entendemos la emoción de recibir un nuevo juguete, por eso nos aseguramos de que su pedido llegue a su puerta de manera rápida y en perfectas condiciones.</li>

        </ul>
        
        
        
        <h6>Compromiso con la Sostenibilidad</h6>
        En Simplemente Juguetes, también estamos comprometidos con el cuidado del medio ambiente. Nos esforzamos por ofrecer opciones de juguetes ecológicos y sostenibles, y utilizamos embalajes reciclables para minimizar nuestro impacto ambiental.
        
        <h6>Únase a Nuestra Comunidad</h6>
        Lo invitamos a explorar nuestra tienda y descubrir la magia de los juguetes que tenemos para ofrecer. Síganos en nuestras redes sociales para estar al tanto de las últimas novedades, promociones especiales y consejos útiles sobre juegos y desarrollo infantil.
        
        Gracias por elegir <span>Simplemente Juguetes.</span> Juntos, hacemos del mundo un lugar más divertido y lleno de aprendizaje para nuestros niños.
        
        <span>Simplemente Juguetes</span> - Donde la diversión y el aprendizaje van de la mano.
        
      </main>

      <%- include("../partials/footer") %>    
  </body>

</html>