<input type="checkbox" id="menu-toggle-checkbox" class="menu-toggle-checkbox">
<label for="menu-toggle-checkbox" class="menu-toggle-label">
    <i class="fa-solid fa-bars bmain"></i>
</label>

<nav class="main-menu">
        <figure class="pandaDashboard"><img src="/images/logo/logo-SJ2.png" alt="Simplemente Juguetes"></figure>
        <ul>
            <li class="has-subnav">
                <a href="/">
                    <i class="fa-solid fa-house-chimney sboton"></i>
                    <span class="nav-text">
                        Home
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="/admin/crear-producto">
                    <i class="fa-solid fa-tag sboton"></i>
                    <span class="nav-text">
                        Registrar Juguetes
                    </span>
                </a>
            <li class="has-subnav">
                <a href="/admin/lista-productos">
                    <i class="fa-solid fa-clipboard-list sboton"></i>
                    <span class="nav-text">
                        Lista de Productos
                    </span>
                </a>
            </li>
        </ul>
    
        <ul class="logout">
            <li>
                <a href="#">
                    <span class="nav-text">
                        Cerrar Sesion
                    </span>
                    <i class="fa-solid fa-right-from-bracket"></i>
    
                </a>
            </li>
        </ul>
    </nav>
